<div class="slideshowsession-box">
  <h1 class="index-title"><%= @slideshow.name %></h1>

  <%= form_with model: @slideshow do |form| %>
    <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>         
        <% end %>
    <% end %>
    
    <p>Slides currently in your Slideshow</p>
    <hr>
    <div class="slideshows-images-container-edit">
      <% @slideshow.slides.each do |slide| %>
        <div class="slideshows-previmages-edit">
          <%= image_tag slide.image, class: "slideshow-image" if slide.image.present? %>
        </div>
      <% end %>
    </div>
    <hr>
    
    <div class="insert-title">
      <%= form.label :name, "Change the Name of the Slideshow", class: "bold-title" %>
      <%= form.text_field :name, class: "form-control slides-form-input edit-slideshow-form-input" %>
    </div>

    <div class="slides-manage-section">
      <div class="slide-selection-body">
        <h3 class="slideshow-section-title">Add more Slides</h3>
        <div class="slide-selection">
          <% Slide.all.each do |slide| %>
            <div class="slides-checkbox-container" style="<%= 'display: none;' if @slideshow.slides.ids.include? slide.id %>">
              <%= form.check_box :slide_ids, { multiple: true, id: "slide_#{slide.id}" }, slide.id, nil %>
              <label for="slide_<%= slide.id %>">
                <div class="slides-checkbox">
                  <%= image_tag slide.image, class: "slide-checkbox-image" if slide.image.present? %>
                  <div class="checker">&#10003;</div>
                </div>
                <span class="checkbox-slide-title"><%= slide.name %></span>
              </label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="slides-mapping-body">
        <h3 class="slideshow-section-title">Manage your Slides</h3>
        <% if @slideshow.slide_mappings.present? %>
          <div class="manage-selection">
            <% @slideshow.slide_mappings.each do |slide_mapping| %>
              <%= form.fields_for :slide_mappings, slide_mapping do |slide_mapping_form| %>
                <div class="manage-slides-container">
                  <div class="manage-images-container">
                    <%= image_tag slide_mapping.slide.image, class: "manage-images" if slide_mapping.slide.image.present? %>
                  </div>  
                  <div class="manage-content-container">
                    <p class="bold-title"><%= slide_mapping.slide.name %></p>
                    <div class="manage-content-section">
                      <%= slide_mapping_form.label :duration, class: "manage-title duration-title" %>
                      <div class="input-group">
                        <%= slide_mapping_form.number_field :duration, in: 10..120, step: 5, class: "duration-input form-control" %>
                        <span class="input-group-text sec">sec</span>
                      </div>
                    </div>
                    <div class="manage-content-section expiry-date-section">
                      <%= slide_mapping_form.label :expiry_date, class: "manage-title" %>
                      <%= slide_mapping_form.date_field :expiry_date, class: "date-input form-control" %>
                    </div>
                    <div class="form-check form-switch">
                      <%= slide_mapping_form.label :_destroy, "Remove Slide", class: "manage-title form-check-label" %>
                      <%= slide_mapping_form.check_box :_destroy, class: "form-check-input" %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="no-slides">
            <p>This Slideshow currently has no Slides</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="edit-slideshow">
      <%= link_to "Delete", @slideshow, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete this slideshow?" }, class: "btn btn-outline-danger delete-button" %>
      <%= form.submit "Submit Changes", class: "submit-button editpage-edit-button", data: { turbo: false } %>
      <%= link_to "&#8617;".html_safe, slideshow_path(@slideshow), class: "btn btn-outline-secondary back-button", data: { turbo: false } %>
    </div>
  <% end %>
</div>